body{
    background-image: url(./image/BonusSystemClose.png);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.loginbox {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }